
<body>
    
       
            <div class="cardBox">
                <div class="card">
                    <div class="card__infor">
                        <div class="card__number">100</div>
                        <div class="card__name">Employee</div>
                    </div>
                    <div class="card__icon"><i class="fa-solid fa-user-group"></i></div>
                </div>
                <div class="card">
                    <div class="card__infor">
                        <div class="card__number">30</div>
                        <div class="card__name">Client</div>
                    </div>
                    <div class="card__icon"><i class="fa-solid fa-user-tie"></i></div>
                </div>
                <div class="card">
                    <div class="card__infor">
                        <div class="card__number">20</div>
                        <div class="card__name">Service</div>
                    </div>
                    <div class="card__icon"><i class="fa-solid fa-layer-group"></i></div>
                </div>
                <div class="card">
                    <div class="card__infor">
                        <div class="card__number">10</div>
                        <div class="card__name">Vacancy</div>
                    </div>
                    <div class="card__icon"><i class="fa-solid fa-briefcase"></i></div>
                </div>
            </div>
            <div class="Table-client-mini">
                <div class="container-table">
                    <div class="header">
                        <h2>Recent Clients</h2>
                        <div class="btn">View All</div>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>Client</td>
                                <td>Area</td>
                                <td>Service</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Aptech</td>
                                <td>HCM</td>
                                <td>Cash Delivery</td>
                                <td class="finished"><span>Finished</span></td>
                            </tr>
                            <tr>
                                <td>Aptech</td>
                                <td>HCM</td>
                                <td>Cash Delivery</td>
                                <td class="progress"><span>In Progress</span></td>
                            </tr>
                            <tr>
                                <td>Aptech</td>
                                <td>HCM</td>
                                <td>Cash Delivery</td>
                                <td class="finished"><span>Finished</span></td>
                            </tr>
                            <tr>
                                <td>Aptech</td>
                                <td>HCM</td>
                                <td>Cash Delivery</td>
                                <td class="progress"><span>In Progress</span></td>
                            </tr>
                            <tr>
                                <td>Aptech</td>
                                <td>HCM</td>
                                <td>Cash Delivery</td>
                                <td class="progress"><span>In Progress</span></td>
                            </tr>
                            <tr>
                                <td>Aptech</td>
                                <td>HCM</td>
                                <td>Cash Delivery</td>
                                <td class="finished"><span>Finished</span></td>
                            </tr>
                            <tr>
                                <td>Aptech</td>
                                <td>HCM</td>
                                <td>Cash Delivery</td>
                                <td class="progress"><span>In Progress</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="chart-container">
                    <h2>Service Using</h2>
                    <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
                </div>
            </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</body>