<footer>
    <div class="container">
        <div class="section section-aboutUs">
            <h2>About Us</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi doloremque porro minus culpa. Excepturi incidunt ad, delectus inventore voluptates officiis. Rem maiores itaque ab tenetur sit suscipit voluptatem, quisquam voluptatum!</p>
            <div class="button2">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Read More &rarr;
              </div>
        </div>
        <div class="section section-quickLink">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Client</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="section section-category">
            <h2>Our Services</h2>
            <ul>
                <li><a href="#"></a>A</li>
                <li><a href="#"></a>B</li>
                <li><a href="#"></a>C</li>
                <li><a href="#"></a>X</li>
                <li><a href="#"></a>Y</li>
            </ul>
        </div>
        <div class="section section-contact">
            <h2>Contact Us</h2>
            <ul class="info">
                <li>
                    <span><i class="fa-solid fa-location-dot"></i></span>
                    <span>01 Nguyen Hue Street<br>
                            Ho Chi Minh City, HCM 3000, <br>VN</span>
                </li>
                <li>
                    <span><i class="fa-solid fa-phone"></i></span>
                    <p><a href="tel:113">+84 xxx xxx xxxx</a></p>
                </li>
                <li>
                    <span><i class="fa-solid fa-envelope"></i></span>
                    <p><a href="mailto:aptech.choidoan@gmail.com">aptech.choidoan@gmail.com</a></p>
                </li>
            </ul>
                
        
        </div>
    </div>
    
</footer>
<div class="copyrightText">
    <p>Copyright &copy; 2022 ChoiDoAn. All Rights Reserved </p>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />